body{
    background: black url("img/Bannière-été.jpg") no-repeat;
    background-size: contain;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

section img{
    position: absolute;
    opacity: 0.8;
    width: 100%;
    height: 150px;
    object-fit: contain;
}

section .parachute{
    top: 30%;
    left: 30%;
}

section .paraglider{
    top: 50%;
    left: 0;
}

section .hotairballoon{
    top: 20%;
    left: -30%;
}

section h2{
    position: relative;
    top: 10vh;
    color: white;
    font-size: 7em;
}